[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openbrokerapi = "*"
waitress = "*"

[dev-packages]
flask-testing = "*"
requests = "*"
pytest = "*"

[requires]
python_version = "3.6"
